#super-notes {
    .home-current {
        font-size: 18px;
        margin-top: 70px;
        overflow-y: auto;
        height: 170px;
        border-radius: 5px;
        border: 1px solid $border-color;

        @media (max-width: 1199.98px) {
            font-size: 16px;
            height: 150px;
            margin-top: 40px;
        }

        @media (max-width: 767.98px) {
            font-size: 15px;
            height: 130px;
            margin-top: 35px;
        }

        @media (max-width: 575.98px) { 
            font-size: 14px;
            height: 110px;
            margin-top: 25px;
        }
    }

    .home-current-main {
        padding: 20px;

        @media (max-width: 1199.98px) {
            padding: 15px;
        }

        @media (max-width: 767.98px) {
            padding: 10px;
        }

        @media (max-width: 575.98px) {
            padding: 5px;
        }
    }

    .home-current-note {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .home-current-info {
        width: 90%;
    }

    .home-current-title {
        font-size: 22px;
        font-weight: 600;
        padding-bottom: 20px;
        word-wrap: break-word;
        text-align: justify;
        width: 100%;

        @media (max-width: 1199.98px) {
            font-size: 18px;
            padding-bottom: 15px;
        }

        @media (max-width: 767.98px) {
            font-size: 16px;
            padding-bottom: 10px;
        }

        @media (max-width: 575.98px) {
            font-size: 15px;
            padding-bottom: 7px;
        }
    }

    .home-current-text {
        word-wrap: break-word;
        text-align: justify;
        width: 100%;
    }

    .home-current-control {
        cursor: pointer;
        border-radius: 5px;
    }

    .home-current-control-dark {
        &:hover {
            background-color: $light;
        }
    }

    .home-current-control-light {
        &:hover {
            background-color: rgba(201,198,198,1);
        }
    }
}