#super-notes {
    .about-motivations-body {
        font-size: 20px;
        padding: 0px 60px;
        color: $dark;
        text-align: justify;

        @media (max-width: 991.98px) { 
            font-size: 17px;
            padding: 0px 30px;
        }

        @media (max-width: 767.98px) { 
            font-size: 16px;
            padding: 0px 0px;
        }

        @media (max-width: 575.98px) { 
            font-size: 14px;
         }
    }
}