#super-notes {
    .themes-home-main-universal {
        padding-top: 25px;
        display: flex;

        @media (max-width: 1199.98px) {
            padding-top: 20px;
        }

        @media (max-width: 991.98px) { 
            padding-top: 17px;
            flex-direction: column;
            align-items: center;
        }

        @media (max-width: 767.98px) {
            padding-top: 15px;
        }

        @media (max-width: 575.98px) { 
            padding-top: 12px;
        }
    }

    .themes-home-main-item-universal {
        padding: 20px 100px;
        border: 1px solid $border-color;
        border-radius: 5px;
        font-size: 20px;
        font-weight: 600;
        margin-right: 35px;
        cursor: pointer;

        &:hover {
            border: 1px solid $success;
        }

        @media (max-width: 1199.98px) {
            padding: 13px 75px;
            font-size: 16px;
            margin-right: 25px;
        }

        @media (max-width: 991.98px) { 
            padding: 12px 70px;
            font-size: 15px;
            margin-right: 0px;
            margin-top: 22px;
        }

        @media (max-width: 767.98px) {
            padding: 10px 60px;
            font-size: 13px;
        }

        @media (max-width: 575.98px) { 
            padding: 8px 45px;
            font-size: 11px;
        }
    }

    .themes-home-main-item-dark-universal {
        background-color: $dark;
        color: $light;
    }

    .themes-home-main-item-light-universal {
        background-color: $light;
        color: $dark;
    }

    .themes-home-main-item-purple-universal {
        background-color: rgba(106,63,204,1);
        color: $light;
    }
}