#super-notes {
    .navbar-title {
        padding: 0px 50px 0px 25px;

        @media (max-width: 767.98px) { 
            padding: 0px 30px 0px 8px;
        }

        .navbar-logo {
            white-space: nowrap;
            font-size: 26px;
            vertical-align: middle;
            color: $light;
            padding-left: 20px;
            cursor: default;

            @media (max-width: 767.98px) { 
                font-size: 21px;
                padding-left: 10px;
            }
    
            @media (max-width: 575.98px) { 
                font-size: 18px;
            }
        }

        .navbar-image {
            @media (max-width: 767.98px) { 
                width: 40px;
                height: 40px;
            }
        }
    }
}