#super-notes {
    .notes-all-body {
        min-height: 280px;

        @media (max-width: 1199.98px) {
            min-height: 250px;
        }

        @media (max-width: 991.98px) { 
            min-height: 210px;
        }

        @media (max-width: 767.98px) {
            min-height: 200px;
        }

        @media (max-width: 575.98px) { 
            min-height: 150px;
        }
    }

    .notes-all-title {
        font-size: 30px;
        color: $dark;
        padding: 20px 0px;
        display: flex;
        justify-content: space-between;

        @media (max-width: 1199.98px) {
            font-size: 25px;
            padding: 15px 0px;
        }

        @media (max-width: 991.98px) { 
            font-size: 20px;
        }

        @media (max-width: 767.98px) {
            font-size: 15px;
            padding: 10px 0px;
        }

        @media (max-width: 575.98px) { 
            font-size: 13px;
            padding: 5px 0px;
        }
    }

    .notes-all-line {
        height: 2px;
        background-color: $dark;
        margin-bottom: 20px;

        @media (max-width: 767.98px) {
            margin-bottom: 10px;
        }
    }

    .notes-all-nothing {
        font-size: 26px;
        padding: 10px 0px;
        text-align: center;

        @media (max-width: 1199.98px) {
            font-size: 24px;
        }

        @media (max-width: 991.98px) { 
            font-size: 20px;
        }

        @media (max-width: 767.98px) {
            font-size: 17px;
        }

        @media (max-width: 575.98px) { 
            font-size: 14px;
        }
    }
}